.button {
  -fx-background-color: #CDDC39;
   -fx-border: none;
   -fx-color: white;
   -fx-text-align: center;
   -fx-font-size: 16px;
   -fx-margin: 4px 2px;
   -fx-opacity: 0.6;
   -fx-transition: 0.3s;
   -fx-display: inline-block;
   -fx-text-decoration: none;
     -fx-filter:blur(5px);
    -fx-text-fill: white;
    -fx-font-size:40px;
}

.button:hover { -fx-opacity: 1; -fx-background-color: #CDDC39;}